/******************************************************************************
General
******************************************************************************/
body {
  background: #eee; }

/******************************************************************************
Header
******************************************************************************/
header .nav {
  margin-top: 20px; }

/******************************************************************************
Footer
******************************************************************************/
footer {
  background: #ddd; }

.footerContactList {
  list-style: none; }

/******************************************************************************
Home Page
******************************************************************************/
.carousel-inner .item {
  height: 300px;
  width: 100%; }

.featuredWidgetColumn {
  height: 200px;
  margin-top: 25px; }

/******************************************************************************
Guest Page 
******************************************************************************/
.welcomeMap {
  margin: 20px; }
