/******************************************************************************
General
******************************************************************************/
/**************************************
Colors
**************************************/
body {
  background: #eee; }

p {
  font-size: 14px; }

.wrap {
  padding-top: 50px; }

ul {
  list-style: none; }

hr {
  border: 1px solid #fff; }

/******************************************************************************
Header
******************************************************************************/
.banner {
  background: #f6f6f6;
  padding-top: 10px;
  box-shadow: 0 8px 6px -6px black;
  z-index: 50; }
  .banner ul {
    padding-top: 35px; }

.navbar, .navbar-default {
  z-index: 1;
  margin-top: 5px; }

/******************************************************************************
Footer
******************************************************************************/
footer {
  background: #e1e1e1;
  margin-top: 10px; }

.footerContactList {
  list-style: none; }

#facebook {
  display: none; }

.quickLinkMenu a {
  color: #444; }
  .quickLinkMenu a:hover#facebook {
    display: inline; }

/******************************************************************************
Home Page
******************************************************************************/
.carousel-inner .item {
  background: lightgrey; }
  .carousel-inner .item img {
    margin: 0 auto;
    height: 100%; }

.featuredWidgetColumn {
  margin: 25px 0; }
  .featuredWidgetColumn img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
    margin: 5px; }

html, body {
  height: 100%; }

.carousel, .item, .active {
  height: 100%;
  max-height: 422px; }

.carousel-inner {
  height: 100%; }

/******************************************************************************
Guest Page 
******************************************************************************/
.welcomeMap {
  margin: 20px; }

/******************************************************************************
Serve Page
******************************************************************************/
.serveRow div {
  height: 200px; }

.serveHeader {
  background: url("http://placehold.it/200x100") no-repeat center center; }

/******************************************************************************
Sermon Page
******************************************************************************/
.sermonPromo {
  margin-top: 50px; }
