/******************************************************************************
General
******************************************************************************/



body {
  background: #eee;
}

p {
  font-size: 14px;
}

.wrap {
  padding-top: 50px;
}





/******************************************************************************
Header
******************************************************************************/



header {
  .nav {
    padding-top: 20px;
    background: #efefef;
  }
}



/******************************************************************************
Footer
******************************************************************************/



footer {
  background: #ddd;
  margin-top: 10px;
}

.footerContactList  {
  list-style: none;
}




/******************************************************************************
Home Page
******************************************************************************/



.carousel-inner {
  .item {
    height: 300px;
    width: 100%;
    margin: 0 auto;
  }
}

.featuredWidgetColumn {
  
  margin: 25px 0;
  img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
    margin: 5px;
  }
  
}



/******************************************************************************
Guest Page 
******************************************************************************/

.welcomeMap {
  margin: 20px;
}



/******************************************************************************
Serve Page
******************************************************************************/



.serveRow {
  div {
    background: blue;
    height: 200px;
  }
}



/******************************************************************************
Sermon Page
******************************************************************************/



.sermonPromo {
  margin-bottom: 50px;
}